# Lecture_2  (  23/08/2024)

# string methods/function

In [3]:
x="hello world"
x.replace('l','w')

'hewwo worwd'

In [6]:
id(x)

1690194919344

In [7]:
type(x)

str

In [8]:
x.replace("hewwo","hello")

'hello world'

In [ ]:
## string is immutable , therefore ID change nhi hogi , it will remain permanent

In [9]:
# length of string
len(x)

11

In [10]:
str2="0123456789"
print(len(str2))
# the range is from 0 to N-1

10

In [11]:
# access the first index of the string
str2[0]

'0'

In [12]:
# agar index jada put kar dey toh Exception show hoga : array index out of bound

str2[12]

IndexError: string index out of range

In [13]:
str2[0:5]

'01234'

In [15]:
# to print the complete string using slicing 
str2[0:len(str2)]

# or
str2[0:]

'0123456789'

## Type conversion in python

In [18]:
# x=10/2
# x

# need to get output only 5 instead of 5.0
x=int(10/2)
x

5

In [19]:
bool(0)

False

In [21]:
bool(-1)
# In Python, any non-zero value is considered True when evaluated as a boolean. This includes negative numbers like -1.

True

In [22]:
a=-10001.000012
print(abs(a))

10001.000012

In [23]:
round(a,2)

-10001.0

## List in python

In [24]:
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [25]:
a[0]

1

In [26]:
# changing the value of index 0
a[0]=10
a
# this prove that list are mutable

[10, 2, 3, 4]

In [27]:
# using inbuilt function
sum(a)

19

# Input function

In [30]:
name=input("Enter your name: ")
print(f"my name is {name}")

Enter your name: lakshay sharma
my name is lakshay sharma

## finding the size of function  -> help in optimizationp purpose

In [31]:
import sys # Sys are in built function

x=42
size=sys.getsizeof(x)
print(f"Size of x:{size} bytes")

Size of x:28 bytes

## Function

In [32]:
# syntax of function


def display(testvar):
    print(f"Value is {testvar} ")
    print(f"Value  of ID is {id(testvar)}")
    print(f"Value  of ID is {type(testvar)}")

a=int(input("enter the number"))
display(a)
display(a)

enter the number10
Value is 10
Value  of ID is 1690114327056
Value  of ID is <class 'int'>
Value is 10
Value  of ID is 1690114327056
Value  of ID is <class 'int'>